<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/dnoneill/" target="_blank">@dnoneill</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/dominique-o-neill-87ba8013a" target="_blank">Dominique O'Neill</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://ellekasai.com/" target="_blank">ellekasai.com</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:elle.kasai@gmail.com" target="_blank">dnoneill@ucla.edu</a></p>
